
        .c29 {
            border-right-style: solid;
            padding-top: 0pt;
            border-top-width: 0pt;
            border-right-width: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            border-left-width: 0pt;
            border-top-style: solid;
            margin-right: 2pt;
            margin-left: 2pt;
            border-left-style: solid;
            border-bottom-width: 0pt;
            border-bottom-style: solid;
            orphans: 2;
            widows: 2;
            text-align: justify;
            padding-right: 0pt
        }

        .c15 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 3pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 156.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c79 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 118.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c95 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 118.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c98 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 104.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c51 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 156.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c93 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 3pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 118.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c99 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 89.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c84 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 89.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c106 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 3pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 104.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c97 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 3pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 89.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c68 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 156.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c66 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 104.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c72 {
            border-right-style: solid;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-top-style: solid;
            border-bottom-width: 0pt;
            border-bottom-style: solid;
            padding-right: 0pt
        }

        .c30 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c23 {
            background-color: #ffffff;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 11pt
        }

        .c1 {
            color: #d4d4d4;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Courier New";
            font-style: normal
        }

        .c22 {
            background-color: #1e1e1e;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.3571428571428572;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c24 {
            background-color: #1e1e1e;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c26 {
            background-color: #1e1e1e;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.3571428571428572;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            background-color: #1e1e1e;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.3571428571428572;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c11 {
            background-color: #ffffff;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c94 {
            padding-top: 26.2pt;
            padding-bottom: 15pt;
            line-height: 0.8571428571428571;
            border-left-width: 0pt;
            border-left-style: solid;
            text-align: justify
        }

        .c6 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c8 {
            background-color: #ffffff;
            padding-top: 14pt;
            padding-bottom: 14pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c12 {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 11pt
        }

        .c9 {
            background-color: #ffffff;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c44 {
            padding-top: 14pt;
            padding-bottom: 14pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c107 {
            background-color: #2a2827;
            padding-top: 0pt;
            padding-bottom: -24pt;
            line-height: 1.5;
            text-align: justify;
            margin-right: -22pt
        }

        .c58 {
            padding-top: 8pt;
            padding-bottom: 8pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c41 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c80 {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c82 {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c76 {
            padding-top: 0pt;
            padding-bottom: 24pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c38 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c33 {
            background-color: #ffffff;
            color: #000000;
            font-weight: 400;
            font-size: 11.5pt;
            font-family: "Verdana"
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c47 {
            background-color: #1e1e1e;
            padding-top: 14pt;
            padding-bottom: 14pt;
            line-height: 1.3571428571428572;
            text-align: left
        }

        .c60 {
            background-color: #d9ead3;
            color: #434343;
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial"
        }

        .c56 {
            text-decoration-skip-ink: none;
            font-size: 10pt;
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            text-decoration: underline
        }

        .c110 {
            background-color: #1e1e1e;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.3571428571428572;
            text-align: justify
        }

        .c20 {
            color: #000000;
            font-weight: 400;
            font-size: 10pt;
            font-family: "Arial"
        }

        .c28 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #9cdcfe;
            font-weight: 400
        }

        .c118 {
            padding-top: 14pt;
            padding-bottom: 14pt;
            line-height: 1.3571428571428572;
            text-align: justify
        }

        .c14 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #d4d4d4;
            font-weight: 400
        }

        .c78 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #c586c0;
            font-weight: 400
        }

        .c87 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #4ec9b0;
            font-weight: 400
        }

        .c92 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c69 {
            color: #6a9955;
            font-weight: 400;
            font-size: 9.5pt;
            font-family: "Courier New"
        }

        .c40 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #ce9178;
            font-weight: 400
        }

        .c18 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #b5cea8;
            font-weight: 400
        }

        .c5 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #569cd6;
            font-weight: 400
        }

        .c109 {
            padding-top: 14pt;
            padding-bottom: 14pt;
            line-height: 1.15;
            text-align: center
        }

        .c112 {
            padding-top: 14pt;
            padding-bottom: 14pt;
            line-height: 1.0;
            text-align: justify
        }

        .c77 {
            font-size: 9pt;
            font-family: "Courier New";
            color: #ce9178;
            font-weight: 400
        }

        .c37 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #dcdcaa;
            font-weight: 400
        }

        .c36 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c3 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #808080;
            font-weight: 400
        }

        .c74 {
            font-size: 9pt;
            font-family: "Courier New";
            color: #b5cea8;
            font-weight: 400
        }

        .c102 {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.0;
            text-align: justify
        }

        .c27 {
            color: #000000;
            font-weight: 400;
            font-size: 18pt;
            font-family: "Arial"
        }

        .c48 {
            background-color: #fff2cc;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt
        }

        .c19 {
            font-size: 9pt;
            font-family: "Courier New";
            color: #9cdcfe;
            font-weight: 400
        }

        .c50 {
            font-size: 9pt;
            font-family: "Courier New";
            color: #d4d4d4;
            font-weight: 400
        }

        .c75 {
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            text-decoration: underline
        }

        .c70 {
            background-color: #d9ead3;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt
        }

        .c61 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #d7ba7d;
            font-weight: 400
        }

        .c55 {
            font-size: 11.5pt;
            font-family: "Verdana";
            font-weight: 400
        }

        .c71 {
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt
        }

        .c114 {
            font-size: 9pt;
            font-family: "Courier New";
            color: #d7ba7d
        }

        .c104 {
            background-color: #cfe2f3;
            font-size: 11.5pt;
            font-family: "Courier New"
        }

        .c16 {
            color: #000000;
            font-weight: 700;
            font-family: "Arial"
        }

        .c65 {
            background-color: #fff2cc;
            text-decoration: none;
            vertical-align: baseline
        }

        .c73 {
            background-color: #d9ead3;
            text-decoration: none;
            vertical-align: baseline
        }

        .c91 {
            font-family: "Courier New";
            color: #9cc98f;
            font-weight: 400
        }

        .c35 {
            color: #000000;
            font-weight: 400;
            font-family: "Arial"
        }

        .c111 {
            color: #808080;
            font-size: 10pt;
            font-family: "Courier New"
        }

        .c53 {
            color: #ffffff;
            font-weight: 400;
            font-family: "Verdana"
        }

        .c120 {
            font-size: 9.5pt;
            font-family: "Courier New";
            color: #f44747
        }

        .c86 {
            font-family: "Courier New";
            color: #d49316;
            font-weight: 400
        }

        .c13 {
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c45 {
            color: inherit;
            text-decoration: inherit
        }

        .c108 {
            font-family: "Courier New";
            color: #d0782a
        }

        .c119 {
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c105 {
            color: #f7f7f7;
            font-family: "Courier New"
        }

        .c85 {
            orphans: 2;
            widows: 2
        }

        .c52 {
            font-weight: 400;
            font-family: "Arial"
        }

        .c89 {
            color: #999999;
            font-style: normal
        }

        .c115 {
            font-family: "Courier New";
            color: #d2c076
        }

        .c83 {
            background-color: #cfe2f3;
            color: #a52a2a
        }

        .c17 {
            background-color: #f1f1f1;
            color: #dc143c
        }

        .c62 {
            padding: 0;
            margin: 0
        }

        .c25 {
            height: 11pt
        }

        .c46 {
            margin-left: 36pt
        }

        .c39 {
            background-color: #000000
        }

        .c42 {
            background-color: #00ff00
        }

        .c81 {
            background-color: #d9ead3
        }

        .c96 {
            color: #434343
        }

        .c90 {
            color: #41484d
        }

        .c113 {
            margin-left: 72pt
        }

        .c59 {
            color: #222222
        }

        .c49 {
            font-size: 14pt
        }

        .c117 {
            background-color: #1e1e1e
        }

        .c67 {
            color: #000000
        }

        .c101 {
            color: #990000
        }

        .c31 {
            height: 0pt
        }

        .c54 {
            padding-left: 0pt
        }

        .c57 {
            color: #dc143c
        }

        .c64 {
            text-indent: 36pt
        }

        .c116 {
            font-size: 16pt
        }

        .c88 {
            background-color: #fff2cc
        }

        .c32 {
            color: #980000
        }

        .c103 {
            font-weight: 400
        }

        .c0 {
            font-size: 12pt
        }

        .c63 {
            background-color: #efefef
        }

        .c100 {
            font-size: 15pt
        }

        .c21 {
            font-weight: 700
        }

        .c43 {
            color: #2a2a2a
        }

        .c4 {
            font-style: italic
        }

        .c34 {
            background-color: #ffffff
        }