@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* #070b20
#dee2f0 */


*,html,body {
    padding: 0;
    margin: 0;
}

body {
    background: #f9f9f9;
}

ul li {
    display: inline;
}

a {
    text-decoration: none;
}

a.link {
    color: #ce9178;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 5px 10px; */
}

a.link:hover {
    color: #9a6c59;
    transition: 0.3s;
}

.nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.nav-container {
    display: block;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    background: #dee2f0;
    border-bottom: 1px solid #244a8838;
}


.nav-item a {
    padding: 13px;
    color: #174a88;
    font-size: 18px;
}

.nav-item a:hover {
    transition: 0.3s;
    background: #174a88;
    color: aliceblue;
}

.nav-item.active a {
    background: #1e589e;
    color: aliceblue;
}

.container {
    margin: 0 auto;
    width: 835px;
    padding: 25px 0;
}

.section .title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 33px;
    color: #2c5b6e;
    padding: 14px 10px 2px;
}

.section .txt {
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 15px;
}

.section pre[class*="language-"] {
    background: #1e1e1e;
    border-radius: 4px;
}


.section .note {
    background: #beffa8b3;
    border-radius: 2px;
    padding: 7px 3px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.section .note-keyword {
    font-weight: 400;
    font-size: 15px;
}

.section .sub-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 23px;
    color: #2c5b6e;
    padding: 14px 7px 2px;
}

.section .table {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.section .table table {
    width: 100%;
}

.section .table thead {
    font-weight: 400;
}

.section .table tr:nth-child(odd) {
    background: #f1f1f1;
}

.section .table td {
    padding: 13px 8px;
    font-size: 15px;
}

.section .hint {
    background: #fffca8;
    border-radius: 2px;
    padding: 7px 3px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

.section .list {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding: 0 30px;
}

.section .list .label {
    color: #8a2121;
    font-size: 15px;
}

.section .media img {
    width: 57%;
}

.section .txt .quote {
    color: #cc0000;
    font-family: 'Ubuntu';
    font-weight: 00;
    font-weight: 600;
}


.footer {
    padding: 20px 0;
    margin: 47px 0 0;
    width: 100%;
    background: whitesmoke;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.footer a, .footer a:hover {
    color: inherit;
}

.resources-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #2c5b6e;
    padding: 0px 0px 8px;
}

.resources .resources-list div {
    /* display: block; */
    padding: 2px 0px 2px 25px;
}

.resources .resources-index {
    color: #8a5f4d;
    padding-right: 9px;
    font-size: 15px;
    font-family: Arial;
}

.section .welcome-title {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}

.section .welcome-subtitle {
    text-align: center;
    font-size: 20px;
    padding: 3px 0 0;
}

.section .get-started {
    text-align: center;
    margin: 12px 0 2px;
    font-size: 30px;
}

.section .get-started-link {
    text-align: center;
    display: block;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.section .welcome-txt {
    text-align: center;
    font-size: 13px;
    color: #31383a;
    margin: 5px 0 32px;
}


*::-moz-selection { 
    background: #2c5b6e;
    color: #dee2f0; 
}

*::selection { 
    background: #2c5b6e;
    color: #dee2f0; 
}

.section pre[class*="language-"] *::-moz-selection { 
    background: #cde9ff38; 
}

.section pre[class*="language-"] *::selection { 
    background: #cde9ff38; 
}


.section .list p span::-moz-selection, .resources .resources-list a::-moz-selection { 
    background: #b0dbff; 
}

.section .list p span::selection, .resources .resources-list a::selection { 
    background: #b0dbff; 
}









code[class*="language-"], pre[class*="language-"] {
    line-height: 1.2;
    font-size: 0.96em;
}

pre[class*="language-"] {
    padding: 0.7em 1em;
}


pre[class*="language-"]::-webkit-scrollbar              {
        border-radius: 10px;
        height: 3px;
        background: #e2777a;
}

pre[class*="language-"]::-webkit-scrollbar-track        {
        border-radius: 10px;
        height: 3px;
        background: #1e1e1e;
}

pre[class*="language-"]::-webkit-scrollbar-thumb        {
        border-radius: 10px;
        height: 3px;
        background: #e2777a;
}
